<!doctype html>
<html ng-app="researchWebSite">

  <head>
    <meta charset="utf-8" /> 
    <title>Mathieu Lagrange</title>
    <link rel="icon" type="image/png" href="images/cnrsIco.png" />
    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="app.js"></script>
    <script src="pageController.js"></script>
    <script src="slidesController.js"></script>
    <script src="demosController.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400italic,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    
    <div ng-controller="PageController">

      <div id="top">
      	<div style="width: auto; text-align: left; display: inline-block">
	  <h2 style="font-size: 48px; margin-bottom: 10px">
	    <span style="position:relative">
	      <div style="position:absolute; left:-210px; top: -5px">
		<img src="images/mathieu.png" style="width: 200px"/>
	      </div>
	      Mathieu Lagrange
	    </span>
	  </h2>
	  <h3 style="font-size: 16px; font-style: italic">CNRS researcher @ ADTSI team <br> <a href="http://www.irccyn.ec-nantes.fr/en">IRCCYN</a>, <a href="http://www.ec-nantes.fr/">Ecole Centrale de Nantes</a></h3>
	  <h4 style="font-size: 16px; font-style: italic">mathieu dot lagrange at cnrs dot fr</h4>
	</div>
      </div>
      
      <div id="menu" ng-class="isAbsolute && 'normalMenu' || 'fixedMenu'">
	<div>
	  <a href="" ng-click="scrollTo('research')">Expertise</a> &mdash;
	  <a href="" ng-click="scrollTo('reproducible')">Reproducible Research</a> &mdash;
	  <a href="" ng-click="scrollTo('explanes')">ExpLanes</a> &mdash;
	  <a href="" ng-click="scrollTo('contributions')">Contributions</a> &mdash;
	  <a href="" ng-click="scrollTo('publications')">Publications</a>
	</div>
      </div>
      
      <div id="page">
	<div style="text-align:center"> 
	  Partly why I became interested in doing Scientific Research in the fields of <br>
	  Computer Science, Signal Processing, Machine Learning, and Cognitive Psychology. 
	</div>
	<div ng-controller="SlidesController">	  
	  <p class="profileLinks">  
	    <span class="profileLink" ng-class="{bold:0==selectedSlide}" ng-click="selectSlide(0)">Poetry</span>&mdash;
	    <span class="profileLink" ng-class="{bold:1==selectedSlide}" ng-click="selectSlide(1)">Poetry</span>&mdash;
	    <span class="profileLink" ng-class="{bold:2==selectedSlide}" ng-click="selectSlide(2)">Poetry</span>&mdash;
	    <span class="profileLink" ng-class="{bold:3==selectedSlide}" ng-click="selectSlide(3)">Literature</span>&mdash;
	    <span class="profileLink" ng-class="{bold:4==selectedSlide}" ng-click="selectSlide(4)">Philosophy</span>&mdash;
	    <span class="profileLink" ng-class="{bold:5==selectedSlide}" ng-click="selectSlide(5)">Science</span>&mdash;
	    <span class="profileLink" ng-class="{bold:6==selectedSlide}" ng-click="selectSlide(6)">Wisdom</span>&mdash;
	    <span class="profileLink" ng-class="{bold:7==selectedSlide}" ng-click="selectSlide(7)">Religion</span>&mdash;
	    <span class="profileLink" ng-class="{bold:8==selectedSlide}" ng-click="selectSlide(8)">Research</span>&mdash;
	    <span class="profileLink" ng-class="{bold:9==selectedSlide}" ng-click="selectSlide(9)">Mathematics</span>&mdash;
	    <span class="profileLink" ng-class="{bold:10==selectedSlide}" ng-click="selectSlide(10)">Computer Science</span>
	  </p>
	  <!-- <span class="profileLink" ng-repeat="slide in slides" ng-class="{'bold':slide.position==selectedSlide}"  ng-click="cycleTo(slide)">  -->
	  <!--   &mdash;  {{slide.text}} &mdash; -->
	  <!-- </span> -->
	  <div class="carousel profileCarousel">	
	    <div class="carouselArrow carouselLeftArrow" ng-show="selectedSlide != 0" ng-click="selectSlide(selectedSlide-1)"></div>
	    <div class="carouselArrow carouselRightArrow" ng-show="selectedSlide != 10" ng-click="selectSlide(selectedSlide+1)"></div>
	    <div class="slideContainer profileSlideContainer">
	      <div style="padding:20px">
	      <div class="slide profileSlide" ng-repeat="slide in slides", opacity:slide.opacity}"> <!-- fallait virer ca : ng-style="{left:(900*slide.position)+'px' -->
		<div  ng-include="'pages/'+slide.html"></div>
	      </div>
	    </div>
	    </div>
	    <div class="profileThumbnails">
	      <img ng-repeat="slide in slides" ng-class="{'big':slide.position==selectedSlide}" ng-src="{{slide.thumbnail}}" ng-click="selectSlide(slide.position)"/>
	    </div>
	  </div>
	</div>
      </div>
      
      <div ng-repeat = "panel in panels">
	<h1 id="{{panel.anchor}}">{{panel.name}}</h1>
	<div class="panel">
	     <div class="panelInside"
		  id="panel-{{$index}}"
		  ng-include="panel.page">
	     </div>
	</div>
      </div>
      
      <div id="footer">
	Made with love, a tiny bit of <a href="https://angularjs.org/">Angular</a> <br>
	and loads of help from <br>
	Mathias Rossignol <br>
	bless him <br><br>
	<a href="http://www.cnrs.fr"><img height="60" src="images/cnrsLogo.png"></a>
      </div>
    </div>
  </body>
</html>
