<!doctype html>
<html ng-app="researchWebSite">

  <head>
    <meta charset="utf-8" />
    <title>Mathieu Lagrange</title>
    <link rel="icon" type="image/png" href="images/cnrsIco.png" />
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="pageController.js"></script>
    <script src="slidesController.js"></script>
    <script src="demosController.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400italic,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <div ng-controller="PageController">
      <div id="top">
      	<div style="width: auto; text-align: left; display: inline-block">
	    <span style="position:relative">
	      <div style="position:absolute; left:-190px; top: -5px">
		<img src="images/mathieu.png" style="width: 140px"/>
	      </div>
	      <h2 style="font-size: 24px; margin-bottom: 10px">
		Mathieu Lagrange
	      </h2>
	      <div style="font-size: 10px; position:absolute; left:270px; top: -30px; text-align: right">
	      	<a href="" ng-click="scrollTo('expertise')">Expertise</a> <br>
		<a href="" ng-click="scrollTo('explanes')">ExpLanes</a> <br>
		<a href="" ng-click="scrollTo('reproducible')">Reproducible Research</a> <br>
    <a href="" ng-click="scrollTo('contributions')">Contributions</a> <br>
    <a href="" ng-click="scrollTo('teaching')">Teaching</a> <br>
		<a href="" ng-click="scrollTo('publications')">Publications</a>
	      </div>
	    </span>
	    <div style="font-size: 12px; font-style: italic"><a href="http://www.cnrs.fr/">CNRS</a> researcher @ <a href="https://sims.ls2n.fr/">SIMS team</a> <br> <a href="https://www.ls2n.fr/">LS2N</a>, <a href="http://www.ec-nantes.fr/">Ecole Centrale de Nantes</a><br>	  <span style="font-size: 12px; font-style: italic">mathieu.lagrange @ univ-nantes.fr</span></div>

	</div>
      </div>

      <div id="menu" ng-show="!isAbsolute" class="fixedMenu">
	<div>
	  <a href="" ng-click="scrollTo('expertise')">Expertise</a> &mdash;
	  <a href="" ng-click="scrollTo('explanes')">ExpLanes</a> &mdash;
	  <a href="" ng-click="scrollTo('reproducible')">Reproducible Research</a> &mdash;
	  <a href="" ng-click="scrollTo('contributions')">Contributions</a> &mdash;
	  <a href="" ng-click="scrollTo('publications')">Publications</a>
	</div>
      </div>

      <div id="page">
	<div style="text-align:center">
	<img style="width:70px" src="images/sepLine.png"/>
	<div style="padding-top:15px">
	Partly why I became interested in doing research in <br>
	Computer Science, Signal Processing, Machine Learning, and Cognitive Psychology.
	</div>	</div>

	<div ng-controller="SlidesController">
	  <p class="profileLinks">
	    <span  ng-repeat="slide in slides" ng-class="{bold:slide.position.indexOf(selectedSlide) > -1}" ng-click="selectSlide(slide.position)" ng-if="slide.thumbnail">
	      <span class="profileLink" >
		{{slide.text}}
	      </span>
	      <span ng-if="$last==0">
		&mdash;
	      </span>
	    </span>
	  </p>
	  <!-- <span class="profileLink" ng-repeat="slide in slides" ng-class="{'bold':slide.position==selectedSlide}"  ng-click="cycleTo(slide)">  -->
	  <!--   &mdash;  {{slide.text}} &mdash; -->
	  <!-- </span> -->
	  <div class="carousel profileCarousel">
	    <div class="slideContainer profileSlideContainer">
	      <div style="padding:20px">
		<div class="slide profileSlide" ng-repeat="slide in slides", opacity:slide.opacity}"> <!-- fallait virer ca : ng-style="{left:(900*slide.position)+'px' -->
		      <div style="padding: 20px 40px 20px 20px;">
			<div   ng-include="'pages/'+slide.html"></div>
		      </div>
	      </div>
	    </div>
	  </div>
	  <div class="profileThumbnails">
	    <img ng-repeat="slide in slides" ng-class="{'big':slide.position.indexOf(selectedSlide) > -1}" ng-src="{{slide.thumbnail}}" ng-click="selectSlide(slide.position)" ng-if="slide.thumbnail" />
	  </div>
	</div>
      </div>
    </div>
    <br>
    <div ng-repeat = "panel in panels">
	<h1   id="{{panel.anchor}}">{{panel.name}}</h1>
      <div class="panel">
	<div class="panelInside">
	<div class="panelInsideText"
	     id="panel-{{$index}}"
	     ng-include="panel.page">
	</div>	</div>
      </div>
    </div>

    <div id="footer">
      Made with love, a tiny bit of <a href="https://angularjs.org/">angularJs</a> <br>
      and loads of help from <br>
      Mathias Rossignol <br>
      bless him <br>
      <a href="http://www.cnrs.fr"><img height="60" src="images/cnrsLogo.png"></a>
    </div>
</div>
</body>
</html>
