<!doctype html>
<html ng-app="researchWebSite">

  <head>
    <meta charset="utf-8" /> 
    <title>Mathieu Lagrange</title>
    <link rel="icon" type="image/png" href="images/cnrsIco.png" />
    <script src="angular.min.js"></script>
    <script src="utils.js"></script>
    <script src="app.js"></script>
    <script src="pageController.js"></script>
    <script src="slidesController.js"></script>
    <script src="demosController.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic,700' rel='stylesheet' type='text/css'>
    <!--<link href='https://fonts.googleapis.com/css?family=Old+Standard+TT:400italic,700' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet' type='text/css'>-->
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <div ng-controller="PageController">
      <div id="top">
      	<div style="width: auto; text-align: left; display: inline-block">
	  <h2 style="font-size: 24px; margin-bottom: 10px">
	    <span style="position:relative">
	      <div style="position:absolute; left:-170px; top: -5px">
		<img src="images/mathieu.png" style="width: 140px"/>
	      </div>
	      Mathieu Lagrange
	    </span>
	  </h2>
	  <h3 style="font-size: 12px; font-style: italic"><a href="http://www.cnrs.fr/">CNRS</a> researcher @ ADTSI team <br> <a href="http://www.irccyn.ec-nantes.fr/en">IRCCYN</a>, <a href="http://www.ec-nantes.fr/">Ecole Centrale de Nantes</a><br>	  <span style="font-size: 12px; font-style: italic">mathieu dot lagrange at cnrs dot fr</span></h3>

	</div>
      </div>
      
      <div id="menu" ng-class="isAbsolute && 'normalMenu' || 'fixedMenu'">
	<div>
	  <a href="" ng-click="scrollTo('research')">Expertise</a> &mdash;
	  <a href="" ng-click="scrollTo('explanes')">ExpLanes</a> &mdash;
	  <a href="" ng-click="scrollTo('reproducible')">Reproducible Research</a> &mdash;
	  <a href="" ng-click="scrollTo('contributions')">Contributions</a> &mdash;
	  <a href="" ng-click="scrollTo('publications')">Publications</a>
	</div>
      </div>
      
      <div id="page">
	<div style="text-align:center"> 
	<img style="width:70px" src="images/sepLine.png"/>
	<br>
	Partly why I became interested in doing Scientific Research in the fields of <br>
	Computer Science, Signal Processing, Machine Learning, and Cognitive Psychology. 
	</div>
	
	<div ng-controller="SlidesController">	  
	  <p class="profileLinks">  
	    <span  ng-repeat="slide in slides" ng-class="{bold:slide.position.indexOf(selectedSlide) > -1}" ng-click="selectSlide(slide.position)" ng-if="slide.thumbnail"> 
	      <span class="profileLink" > 
		{{slide.text}} 
	      </span> 
	      <span ng-if="$last==0"> 
		&mdash; 
	      </span> 
	    </span>
	  </p>
	  <!-- <span class="profileLink" ng-repeat="slide in slides" ng-class="{'bold':slide.position==selectedSlide}"  ng-click="cycleTo(slide)">  -->
	  <!--   &mdash;  {{slide.text}} &mdash; -->
	  <!-- </span> -->
	  <div class="carousel profileCarousel">	
	    <div class="slideContainer profileSlideContainer">
	      <div style="padding:20px">
		<div class="slide profileSlide" ng-repeat="slide in slides", opacity:slide.opacity}"> <!-- fallait virer ca : ng-style="{left:(900*slide.position)+'px' -->
		     <div  ng-include="'pages/'+slide.html"></div>
	      </div>
	    </div>
	  </div>
	  <div class="profileThumbnails">
	    <img ng-repeat="slide in slides" ng-class="{'big':slide.position.indexOf(selectedSlide) > -1}" ng-src="{{slide.thumbnail}}" ng-click="selectSlide(slide.position)" ng-if="slide.thumbnail" />
	  </div>
	</div>
      </div>
    </div>
    
    <div ng-repeat = "panel in panels">
      <h1 id="{{panel.anchor}}">{{panel.name}}</h1>
      <div class="panel">
	<div class="panelInside"
	     id="panel-{{$index}}"
	     ng-include="panel.page">
	</div>
      </div>
    </div>
    
    <div id="footer">
      Made with love, a tiny bit of <a href="https://angularjs.org/">angularJs</a> <br>
      and loads of help from <br>
      Mathias Rossignol <br>
      bless him <br>
      <a href="http://www.cnrs.fr"><img height="60" src="images/cnrsLogo.png"></a>
    </div>
</div>
</body>
</html>
